/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* body {
  margin: 0;
  background-color: $bg-color-main;
} */

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; //убирает узкую горизонтальную полосу под картинкой
}

html,
body {
  height: 100%;
}
