$bg-color-main: #ffffff;
$bg-color-secondary: #f1f1f1;
$bg-color-accent: #63d1bb;
$bg-color-accent-secondary: #56c3b2;

$color-main: #000000;
$color-secondary: #444444;
$color-accent: #ffffff;
$color-accent-secondary: #63d1bb;

$button-bg-color-main: #68b738;
$button-bg-color-secondary: #5eaa2f;

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
