.padding {
  padding-left: 30px; /*горизонтальный паддинг от краев экрана*/
  padding-right: 30px; /*горизонтальный паддинг от краев экрана*/


  @media (max-width: $mobile-width-only) { /*планшетная ширина окна*/

  }

  @media (min-width: $tablet-width) { /*планшетная ширина окна*/
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) { /*десктопная ширина окна*/

  }
}

.padding.padding--knittind-form {

  @media (min-width: $desktop-width) { /*десктопная ширина окна*/
    padding-left: 97px;

  }


}
