.reviews {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.reviews__wrapper {
  @media (min-width: $tablet-width) {
    background-image: url("../img/review-tablet.png");
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 80px;
    min-height: 437px;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 38px;
    grid-template-rows: auto auto auto;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/review-desktop.png");
    padding-left: 174px;
  }
}

.padding {
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__button-wrapper {
  @media (min-width: $tablet-width) {

    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: auto;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }
}

.reviews__button {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.reviews__text {

  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
  }
}

.reviews__client {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.reviews__client-name {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.reviews__client-alias {
  display: flex;
  font-size: 17px;
  line-height: 30px;
}

.reviews__slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: auto;
  }
}

.reviews__slider-button {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ECECEC;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 26px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: transparent;
  }

  @media (min-width: $desktop-width) {
  }
}

.reviews__slider-button--prev {
  background-image: url("../img/huge-arrow-left.svg");
  border-right: 1px solid transparent;
}


.reviews__slider-button--next {
  background-image: url("../img/huge-arrow-right.svg");
}
