.wave {
  margin-bottom: 45px;
  width: 100%;
  height: 6px;
  background-image: url("../img/zigzag-line-desktop.svg");
  background-position: center;
  background-repeat: repeat-x;

  @media (min-width: $tablet-width) {
    background-image: url("../img/zigzag-line-desktop17.svg");
    height: 17px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/zigzag-line-desktop23.svg");
    height: 23px;
    margin-bottom: 57px;
  }
}
